<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.addQuote}">명언 등록</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .container {
            max-width: 560px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addQuote}">명언 등록</h2>
    </div>

    <form action="quote.html" th:action th:object="${quote}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메세지</p>
        </div>

        <div>
            <label for="content" th:text="#{label.quote.content}">내용</label>
            <textarea type="text" id="content" rows="20" placeholder="내용을 입력하세요" class="form-control"
                      th:errorclass="field-error" th:field="*{content}"></textarea>
            <div class="field-error" th:errors="*{content}">
                내용 오류
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">명언 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='quotes.html'"
                        th:onclick="|location.href='@{/admin/quotes}'|"
                        type="button" th:text="#{button.cancel}">취소
                </button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>