<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/base :: common_header(~{::title},~{::link},~{::style})}">
    <title>Quotes By Buddha</title>
    <link rel="stylesheet" th:href="@{/css/before.css}"/>
    <style>
        .container {
            font-weight: bold;
        }
    </style>
</head>


<body>
<main>
    <div class="container">
        <button th:onclick="|location.href='@{/admin/logout}'|">로그아웃</button>
        <div style="margin-top: 10%"></div>
        <button th:onclick="|location.href='@{/admin/quotes}'|">명언관리</button>
    </div>
</main>

</body>
</html>