.container {
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-select {
    width: auto;
    float: right;
    margin-bottom: 5px;
}

table {
    text-align: center;
}

@media (max-width: 767px) {

    .table-visible {
        display: none;
    }
}