<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website Title</title>
  <link rel="stylesheet" th:href="@{/css/font/all.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>


<body>

<header></header>

<main>
  <img class="buddha" th:src="@{/img/buddha-7369250.svg}">
  <p>과거에 얽매이면 마음의 짐이 되어 고통을 준다.</p>
  <button><i class="fa-solid fa-rotate-right"></i></button>
</main>

<footer></footer>

</body>
</html>